@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$font-size: 18px;
$darker-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$font-family: 'Rubik', sans-serif;
$tablet: 1110px;
$mobile: 880px;